.header {
    display: flex;
    align-items: center;
    background-color: #0b3c5d;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
    color: #FFF;
}