<mat-toolbar color="primary" class="mat-elevation-z3">
    <span><mat-icon class="material-icons green v-middle">eco</mat-icon> Water & Energy Saving System</span>
    <span class="spacer"></span>
    <a mat-button routerLink="home">Home <mat-icon class="material-icons v-middle">home</mat-icon></a>
    <a mat-button routerLink="dashboard">Dashboard   <mat-icon class="material-icons v-middle"> insert_chart_outlined</mat-icon></a>
    <a mat-button routerLink="about">About   <mat-icon class="material-icons v-middle">help_outline</mat-icon></a>
</mat-toolbar>