<div class="content-container">
    <p>
        O mundo passa por constantes mudanças. Sendo elas geográficas, sociais, climáticas, entre outras.
    </p>
    <p>
        Uma das mudanças que muito nos tem impactado é a mudança climática. Por decorrência dela, chuvas passaram a ocorrer com menor frequência, fazendo com que se 
        tornassem necessárias medidas para a economia e racionamento de água.
    </p>
    <p>
        Com o aumento das temperaturas, do aumento do intervalo entre chuvas e o aumento do valor de cobrança da água, surgiu a necessidade de encontrar meios de 
        se economizar água.
    </p>
    <p>
        W.E.S.S. (Water and Energy Saving System) foi desenvolvido 
    </p>
</div>
