<div class="content-container">
    <div class="conteudoBase">
        <!-- <div class="top">
            <div class="divbtnGrafico">
                <input type="button" (click)="Adcionar()" value="Adicionar 5" class="btnGrafico" />
                <input type="button" (click)="Remover()" value="Remover 5" class="btnGrafico" />
            </div>
        </div>
       -->
        <!-- <div class="conteudo"> -->
            <div class="cardGraficoBola">
                <div class="bola">
                    <div class="pontuacao" [ngStyle]="{'width':cisternaUm +'%','height':cisternaUm +'%'}">
                        <p id="porcentagemP">{{cisternaUm}}%</p>
                    </div>
                </div>
                <div class="bola">
                    <div class="pontuacao" [ngStyle]="{'width':cisternaDois +'%','height':cisternaDois +'%'}">
                        <p id="porcentagemP">{{cisternaDois}}%</p>
                    </div>
                </div>
            </div>
        <!-- </div> -->
      </div>
</div>
